@using DevSkill.Inventory.Application.Features.Customers.Commands
@model CustomerAddCommand

<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form asp-antiforgery="true"
              asp-area="Admin"
              asp-controller="Customers"
              asp-action="Add"
              method="post"
              enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="CompanyName" class="form-label">Company Name</label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="MobileNumber" class="form-label">Mobile Number</label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="Address" class="form-label">Address</label>
                        <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="OpeningBalance" class="form-label">Opening Balance</label>
                        <input asp-for="OpeningBalance" class="form-control" />
                        <span asp-validation-for="OpeningBalance" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Product Image</label>
                        <input type="file" name="CustomerImage" class="form-control" accept="image/*" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Customer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
