@* @using DevSkill.Inventory.Application.Features.Products.Commands
@model ProductUpdateCommand

@{
    ViewData["Title"] = "Update Product";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Update Product</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Update Product</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
            <!--begin::Col-->
            <div class="col-12">
                <partial name="_ResponsePartial" />
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header"><div class="card-title">Update Product</div></div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="Products"
                          asp-action="Update" method="post">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Product Name</label>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Name"
                                       aria-describedby="titleHelp" />
                                <div id="nameHelp" class="form-text">
                                    Provide a Product Name
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Product's Description</label>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Description"
                                       aria-describedby="titleHelp" />
                                <div id="descriptionHelp" class="form-text">
                                    Provide Description of Product
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Price" class="form-label">Product Price</label>
                                <input type="number"
                                       class="form-control"
                                       asp-for="Price"
                                       aria-describedby="priceHelp" />
                                <div id="priceHelp" class="form-text">
                                    Provide Product Price
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="PublishedAt" class="form-label">Product Publish Date</label>
                                <input type="datetime-local"
                                       class="form-control"
                                       asp-for="PublishedAt"
                                       aria-describedby="publishDateHelp" />
                                <div id="publishDateHelp" class="form-text">
                                    Provide the date and time the product was published.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="CustomerId" class="form-label">Customer</label>
                                <input type="text" class="form-control" asp-for="CustomerId" />
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Quick Example-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->
 *@