@using DevSkill.Inventory.Web.Areas.Products.Models
@model BarcodePrintViewModel
@{
    int count = ViewBag.PrintCount;
    string name = ViewBag.Name as string;
    string code = ViewBag.Code as string;
    decimal price = (decimal)ViewBag.Price;
}

<div class="row" id="printArea">
    @for (int i = 0; i < count; i++)
    {
        <div class="col-md-3 text-center mb-4">
            <img src="@Url.Action("GenerateBarcode", "Products", new { area = "Products", code = code })" style="width:80%" alt="barcode" />
            <h5><strong>@Html.Encode(name)</strong></h5>
            <h6><strong>@Html.Encode(code)</strong></h6>
            <h5><strong>TK. @price</strong></h5>
        </div>
    }
</div>
